@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Poppins&family=Staatliches&display=swap');
*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background: rgba(8,5,16);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    
}
.text-gradient{
    background: -webkit-linear-gradient(0deg, #3318a7 0%, #48abe0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
header{
    width: 95%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;

}



.btns-container .fas{
    font-size: 2rem;
    padding: 10px;
    background-color: #181818;
    color: #fff;
    cursor: pointer;
}
.btns-container .fas:nth-child(2){
    display: none;
}

/* aside section starts here */
.aside{
    width: 100%;
    height: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    /* From https://css.glass */
/* From https://css.glass */
background: rgba(54, 53, 56, 0.24);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.3px);
-webkit-backdrop-filter: blur(11.3px);
border: 1px solid rgba(54, 53, 56, 0.05);
    z-index: 1;
}
.show-nav{
    height: 100%;
    overflow: visible;
}
.aside-wrapper{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.logo-section{
    min-height: 32vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
    color: #0f0e0e;
}
.logo{
    display: grid;
    place-items: center;
    text-decoration: none;
}
.logo img{
    width: 45px;
    height: auto;
}
.logo span{
    font-size: 1.7rem;
    color: #fff;
}
.logo-section > span{
    margin-top: 25px;
    font-size: 12px;
    font-size: 'Times New Roman', Times, serif;
}

/* nav section starts here */

.nav-links a{
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
    color: #9c96a4;
}
.nav-links a:hover{
    color: white;
}
.nav-links a::before{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    background-color: #eaeaec;
}

/* social icons */

.social-icons{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}
.social-icons li{
    width: 30px;
    font-size: 1rem;
}
.social-icons li a{
    text-decoration: none;
    color: #909096;
}
.social-icons li a:hover{
    color: #ffffff;
}

/* nav bar ends here */

#section-home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
}
.text-zone{
    animation-name: fade-in-left;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes fade-in-left {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
.text-zone h1{
    font-size: 3rem;
    line-height: 45px;
    letter-spacing: -3px;
    position: relative;
    color: #c7c0e7;
    margin-bottom:4rem;
}
.text-zone h1::before{
    content: '<h1>';
    position: absolute;
    top: -3rem;
    left: -10px;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.text-zone h1::after{
    content: '</h1>';
    position: absolute;
    bottom: -1.5rem;
    right: 1.7rem;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}

    .text-zone p::before{
        content: '<p>';
        position: absolute;
        top: -30px;
        left: -15px;
        font-size: 1.2rem;
        font-family: 'La Belle Aurore', cursive;
        color: #666565;
        letter-spacing: 3px;
    }
    .text-zone p::after{
        content: '</p>';
        position: absolute;
        bottom: -2rem;
        right: 10rem;
        font-size: 1.2rem;
        font-family: 'La Belle Aurore', cursive;
        color: #666565;
        letter-spacing: 3px;
    }

.text-zone .gray-text{
    margin-top: 30px;
    color: #a2a2a3;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
}

/* contact me button */
.contact-button{
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color:  #d8f3ef;
    margin-top: 50px;
}
.contact-button::before{
    content: '<button>';
    position: absolute;
    top: -40px;
    left: -0.8rem;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.contact-button::after{
    content: '</button>';
    position: absolute;
    bottom: -3rem;
    right: -4rem;
    font-size: 1.2rem;
    font-family: 'La Belle Aurore', cursive;
    color: #666565;
    letter-spacing: 3px;
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:  all .3s ease-in-out;
}
.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color:  #d8f3ef;
    transform: skewX(-19deg);
    
}
.contact-button:hover span.bg{
    width: 110%;
}
.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid #d8f3ef;
    box-sizing: border-box;
    
}
.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.contact-button:hover span.text{
    color: #1d1d1d;
}
.scroll-down{
    position: absolute;
    right: -20px;
    bottom: 3.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    display: block;
    font-size: 14px;
}
.scroll-down--left{
    left: -30px;
    right: auto;
}
.scroll-down span{
    display: inline-block;
    animation: scroll .5s linear infinite alternate-reverse;
}
@keyframes scroll{
    0%{
        transform: translateX(-7px);
    }
    100%{
        transform: translateX(7px);
    }
}
.scroll-down .fas{
    transform: rotate(270deg);
    margin-left: 10px;
}

/* part 2 starts here */ /* part 2 starts here *//* part 2 starts here */

#section-work{
    padding: 5rem 0 5rem 1.5rem;
    position: relative;
}
#header{
    font-size: 2rem;
    color: rgb(25, 25, 121);
    margin-bottom: 30px;
}
.text-zone-2 p{
    line-height: 1.5;
    
}
.fake-big-2{
    font-size: 8rem;
    font-weight: 700;
    position: absolute;
    color: #2d2d2e;
    left: 5rem;
    bottom: 0.2rem;
    letter-spacing: -10px;
    z-index: -999;
}
.fake-big-3{
    font-size: 4rem;
}
.fake-magicwall{
    background-color: rgba(255, 255, 255, 0.1);
}
.fake-magicwall ul{
    list-style: none;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    flex-wrap: wrap;
}
.fake-magicwall ul li{
    width: 161px;
    height: 160px;
    position: relative;
    overflow: hidden;
    display: list-item;
}
.fake-magicwall .magic-wall_item{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.fake-magicwall img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fake-magicwall ul li:hover .magic-wall_item{
    transform: scale(1.14);
    -ms-transform: scale(1.4);
    -webkit-transform: scale(1.14);
}
.fake-magicwall ul li a.colorbox{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circle.png) no-repeat center;
    opacity: 0;
    transition: all 150ms ease-out;
    -o-transition: all 150ms ease-out;
    -webkit-transition: all 150ms ease-out;
    transform: scale(0.2);
}
.fake-magicwall ul li:hover a.colorbox{
    transform: scale(0.6);
    opacity: 1;
}
/* magical wall ends here */

/* part 3 section starts here */

#section-about{
    padding-left: 1.5rem;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.text-zone3 p{
    margin-bottom: 15px;
    line-height: 1.5rem;
}
.tech{
    text-decoration: none;
    color: white;
}
/* blog section starts here */
.section-blog{
    width: 85%;
    margin: 100px auto 0;
    position: relative;
}
.section-blog .fake-big-2{
    font-size: 12rem;
    font-weight: bolder;
    position: absolute;
    top: -180px;
    left: 0;
    
}

.blog-articles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.post-articles{
    width: 100%;
    margin-top: 20px;
    height: 250px;
    /* From https://css.glass */
/* From https://css.glass */
/* From https://css.glass */
background: rgba(64, 54, 136, 0.07);
border-radius: 16px;
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1.2px);
-webkit-backdrop-filter: blur(1.2px);
border: 1px solid rgba(64, 54, 136, 0.05);
    padding: 25px;
    color: #b2b2be;
  
    margin-bottom: 30px;
    font-family: 'Poppins';
}
.post-date{
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.blog-post-title h5 a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 15px 0;
}
.blog-post-title h5 a:hover{
    color: #06b99e;
}

/* contact section starts here. The Final Part */
.contact-heading {
    margin-bottom: 30px;
  }
  .contact-section {
    width: 85%;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .form-input-group {
    width: 100%;
    position: relative;
  }
  
  .form-input-group input,
  textarea {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    padding: 0 20px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-size: 0.957rem;
    box-shadow: 0 0 0px 1000px #2b2b2b inset;
    color: #8a8484;
  }
  .form-input-group textarea {
    height: 25vh;
    padding: 10px 20px;
  }
  .submit-button {
    background: transparent;
    border: none;
    outline: none;
    float: right;
    display: block;
    font-size: 1rem;
    cursor: pointer;
    color: #8a8484;
  }
  
  .form-input-group input + span::after,
  .form-input-group textarea + span::after {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    background: #08fdd8;
    bottom: 5px;
    left: 0;
    transition: ALL 0.3s linear;
  }
  .form-input-group input:focus + span::after,
  .form-input-group textarea:focus + span::after {
    width: 100%;
  }
  
  .error input,
  .error textarea {
    border-bottom: 2px solid red;
    transition: all 0.2s linear;
  }
  
  .success input,
  .success textarea {
    border-bottom: 2px solid green;
    transition: all 0.2s linear;
  }
  .message {
    position: absolute;
    bottom: 500px;
    right: 0;
    transition: all 0.3s ease-in-out;
    transform: translate(100%, 50%);
    transition: all 0.3s linear;
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
  }
  .message-content {
    padding: 15px;
    background: red;
    color: #fff;
    opacity: 1;
    transition: opacity 550ms ease-in-out;
    margin-bottom: 5px;
  }
  
  .message-content.hide {
    opacity: 0;
  }
  
  .google-map {
    width: 100%;
    position: relative;
  }
  .google-map iframe {
    width: 100%;
    margin-top: 50px;
    height: 60vh;
  }
  .map-content {
    background-color: #000;
    color: #f3f3f3;
    position: absolute;
    top: 70px;
    left: 40px;
    padding: 20px;
    backdrop-filter: blur(70%);
  }
  .map-content span {
    font-size: 16px;
    line-height: 1.5rem;
  }

  
  /* contact section ends here. The Final Part */
  #portfolio{
    padding: 40px 0;
    height: 550px;
    width: 800px;
    margin-bottom: 50px;
    margin-left: 0px;
}

.container{
}

.project{
    margin-right: 20vh;
    width: 300px;
    padding-bottom: 50px;
    align-items: center;
}

.project> a{
    text-align: center;
    text-decoration: none;
    color: white;
    margin-left: 20vh;
    margin-top: 20px;
}
.project> a:hover{
    text-align: center;
    text-decoration: none;
    color: rgb(55, 67, 83);
}
.project img{
    width: 400px;
    height: 30vh;
    margin-left: 20px;
    object-fit: cover;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
    grid-gap:30px;
    margin-top: 50px;
  }

  .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
  }

  .work img{
    height:200px;
    width: 300px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-left: 20px;
    overflow-y: hidden;
    transition: transform 0.5s;
  }
  .layer{
    width: 330px;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#5512ca);
    border-radius: 10px;
    position: absolute;
    left: 60;
    bottom: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    
    font-size: 12px;
    transition: height 0.5s;
  }
  .layer h3{
    font-weight: 500px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 0px;
  }
 
  .layer a{
    margin-top: 0px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    background: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
  }

   .work:hover img{
    transform: scale(1.1);
   }
   .work:hover .layer{
    height: 100%;
   }

   .work-tag{
    color: blue;
   }
/* media section for bigger screens */

@media screen and (min-width: 1200px) {
    .text-zone h1::after{
        content: '</h1>';
        position: absolute;
        bottom: -10px;
        right: -80px;
        font-size: 1.2rem;
        font-family: 'La Belle Aurore', cursive;
        color: #666565;
        letter-spacing: 3px;
    }
    .text-zone p::before{
        content: '<p>';
        position: absolute;
        top: -30px;
        left: -5px;
        font-size: 1.2rem;
        font-family: 'La Belle Aurore', cursive;
        color: #666565;
        letter-spacing: 3px;
    }
    .text-zone p::after{
        content: '</p>';
        position: absolute;
        bottom: -2rem;
        right: 0rem;
        font-size: 1.2rem;
        font-family: 'La Belle Aurore', cursive;
        color: #666565;
        letter-spacing: 3px;
    }

    header{
        justify-content: flex-end;
        align-items: flex-end;
    }
    .btns-container{
        display: none;
    }

    .aside{
        width: 10%;
        height: 100%;
    }
    .aside-wrapper{
        height: 80%;
    }
    .logo-section{
        min-height: 25vh;
    }
    .logo img{
        width: 50px;
        height: auto;
    }
    .social-icons{
        margin-bottom: 0;
        text-align: center;
    }
    .social-icons li{
       
        font-size: 1rem;
    }

    /* home section */
    #section-home{
        padding-left: 13rem;
    }
    .text-zone h1{
        font-size: 6.3rem;
        line-height: 90px;
        letter-spacing: -5px;
    }
    .text-zone img{
        width: 50px;
        height: 72px;
    }
    .text-zone .gray-text{
        font-size: 1rem;
    }
    .scroll-down{
        right: -30px;
        bottom: 3.3rem;
    }
    .scroll-down--left{
        left: 110px;
        right: auto;
    }
    /* part 2 media query bigger screens starts here */
    #section-work{
        width: 85%;
        margin: 0 30px 0 auto;
        display: flex;
        flex-direction: column;
    }
    .text-zone-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #header{
        font-size: 2.5rem;
    }
    .text-zone-2 p{
        width: 700px;
        font-size: 14px;
        line-height: 1.5rem;
    }
    .fake-big-2{
        font-size: 18rem;
        font-weight: 600;
        left: 380px;
        top: -30px;
    }
    .fake-big-3{
        font-size: 8rem;
        font-weight: 600;
        margin-left: 380px;
        top: -30px;
    }
    .fake-magicwall{
        padding-left: 8.5rem;
    }
    .fake-magicwall ul li{
        width: 242px;
        height: 236px;
    }

    /* media query for about section */
    #section-about{
        flex-direction: row;
        padding-left: 13rem;
    }
    .text-zone3 #header{
        width: 500px;
        font-size: 3rem;
    }
    .text-zone3 p{
        width: 400px;
    }
    .skills-charts{
        margin-right: 20%;
    }

    /* media query for blog section */
    .section-blog{
        width: 90%;
        margin: 100px auto 0;
    }
    .section-blog .fake-big-2{
        font-size: 27rem;
        top: -270px;
    }
    .blog-articles{
        width: 90%;
        margin: 0 0 0 auto;
        flex-flow: row wrap;
    }
    .post-articles{
        width: 340px;
        height: 270px;
    }
    .blog-post-title h5 a{
        font-size: 1.7rem;
        line-height: 2rem;
    }

    .contact-section {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: flex-start;
        grid-column-gap: 2.5rem;
        margin-left: -80px;
      }
      .contact-form {
        width: 400px;
        margin: 0 0 0 auto;
      }
      .form-input-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 0.77rem;
      }
      .google-map iframe {
        width: 80%;
        height: 90vh;
        margin-left: 40px;
      }
      .message {
        bottom: 100px;
      }
       
      #portfolio{
        padding: 40px 0;
        height: 250px;
        width: 800px;
        margin-bottom: 200px;
        margin-left: 300px;
    }
    
    .work-list{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
        grid-gap:30px;
        margin-top: 50px;
      }
    
      .work{
        border-radius: 10px;
        position: relative;
        overflow: hidden;
      }
    
      .work img{
        height: 250px;
        width: 300px;
        margin-bottom: 0px;
        border-radius: 10px;
        margin-left: 0px;
        overflow-y: hidden;
        margin-left: 0px;
        display: block;
        transition: transform 0.5s;
      }
      .layer{
        width: 300px;
        height: 0;
        background: linear-gradient(rgba(0,0,0,0.6),#5512ca);
        border-radius: 10px;
        position: absolute;
        left: 100;
        bottom: 0;
        overflow-y: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0 40px;
        text-align: center;
        font-size: 14px;
        transition: height 0.5s;
      }
      .layer h3{
        font-weight: 500px;
        margin-bottom: 20px;
      }
     
      .layer a{
        margin-top: 20px;
        color: #ff004f;
        text-decoration: none;
        font-size: 18px;
        line-height: 60px;
        background: #fff;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        text-align: center;
      }
    
       .work:hover img{
        transform: scale(1.1);
       }
       .work:hover .layer{
        height: 100%;
       }


       .container{
        display: flex;
        justify-content: flex-start
    }
    
    .project{
        margin-right: 20vh;
        width: 300px;
        align-items: center;
    }
    
    .project> a{
        text-align: center;
        text-decoration: none;
        color: white;
    }
    .project> a:hover{
        text-align: center;
        text-decoration: none;
        color: rgb(19, 69, 136);
    }
    .project img{
        width: 400px;
        height: 30vh;
        margin-left: -40px;
        object-fit: cover;
    }
    
}